 body{
background-image: url(/src/gangg.jpg);
background-size: cover;
background-position: center;
background-attachment: scroll;
background-repeat:no-repeat ;
 }

.todo-list-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 20px;
  background-color: white;
}

.todo-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
 

.todo-input:focus {
  outline: none;
}


.todo-section {
  margin-bottom: 20px;
}

.todo-section h3 {
  margin-bottom: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.todo-item button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
 
}

 

.todo-item.completed span {
  text-decoration: none;  
}

.todo-item span {
  margin-right: 10px;
  font-weight: bold;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 
#heading{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul li{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#name{
  width: 300px;
  height: 25px;
  position: relative;
  left: 20px;
  border-radius: 6px 0px 0px 6px;
  border: 0px;
  background-color: lime;
}
#add{
  position: relative;
 right: 10px;
 width: 65px;
  background-color: black;
  height: 41px;
  color: white;
  border-radius: 0px 6px 6px 0px;
}
img{
  width: 15px;
}
#complete{
  background-color: greenyellow;
}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
