.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  margin-bottom: 20px;
}

.person-info {
  display: flex;
  align-items: center;
}

.person-info img {
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  margin-right: 20px;
}
 
.person p {
  margin: 5px 0;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  position: relative;
  left: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
}

.button:hover {
  background-color:orangered;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  margin-bottom: 20px;
}

.person-info {
  display: flex;
  align-items: center;
}

.person-info img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  margin-right: 20px;
}
