 

.todo-list-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.todo-section {
  margin-bottom: 20px;
}

.todo-section h3 {
  margin-bottom: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.todo-item button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

.todo-item button:hover {
  background-color: #d32f2f;
}

.todo-item.completed span {
  text-decoration: none;  
}

 
#heading{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#name{
  width: 300px;
  height: 25px;
  position: relative;
  left: 10px;
  border-radius: 6px;
  border: 0px;
  background-color: silver;
}
#add{
  position: relative;
 right: 10px;
  background-color: black;
  height: 40px;
  color: white;
  border-radius: 6px;
}